<div class="content-box d-flex flex-column min-vh-100">
  <div class="container-fluid">
    <div class="row-cols-auto justify-content-center">
      <div class="col-auto">
        <app-header></app-header>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center mt-3">
      <div class="col">LEFT BLOCK</div>
      <div class="col">MAIN BLOCK</div>
      <div class="col">RIGHT BLOCK</div>
    </div>
  </div>
  <div class="container-fluid mt-auto">
    <div class="row-cols-auto justify-content-center mt-3">
      <div class="col-auto">
        <hr class="my-12"/>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
